
@font-face {
    font-family: Segoe-UI-Regular;
    src: url('../fonts/segoe-ui/Segoe UI Light.ttf'); 
  }

* {
    box-sizing: border-box;
    font-family: Segoe-UI-Regular,'Courier New', sans-serif;
    font-weight:lighter;
    font-size: 18px;  /* change to px? */
}

html, body{
    color:#5e5e5e;
    background: white;
    height: 850px;   
    margin: 0px;
    padding: 0px;
    display: grid;
}

.shell-container{
    display: grid;
    height: 850px;
    width: 100%;
    /*grid-template-columns: 20% 80%;
    grid-template-rows: 85% 15%;*/
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1rem 1rem;
}

.box_div{
    box-shadow:inset 1px 1px 2px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
    border:1px solid #dcdcdc;
    border-radius: 35px;
    

    color:#5e5e5e;
}

#input_div{
    grid-row: 2/10;
    grid-column: 2/6;
    width: 100%;
    min-width: 500px;
    max-height: 800px;
}

#hour_log_box{
    grid-row: 2/8;
    grid-column: 7/13;
    width: 100%;
    min-width: 610px;
    /*width: 375px;*/
    /*max-height: 800px;*/
}

#employee_sel_label{
    grid-column: 3/6;
}
#employee_select_div{
    display: grid;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

#employee_sel{
    border: 2px solid rgb(85, 85, 85);
    border-radius:5px;
    grid-column: 6/9;

}

#time_input_div{
    display: grid;
    text-align: center;
    height: 440px;
    padding-left: 5px;
    padding-right: 5px;

    grid-template-columns: 0.4fr 1fr 0.6fr 0.4fr 1fr 0.6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 6px;
    justify-items: center;
    align-items: center;
}

#curr_day_label{
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
    align-items: center;
    padding-left: 10px;
}

#curr_day_p{
    display: grid;
    grid-column: 2/5;
    grid-row: 2/3;
    font-size: 1.25rem;
    padding-left: 40px;
}

#hour_in_div{
    display: grid;
    grid-column: 1/5;
    grid-row: 2/7;
}

#date_input_div{
    display: grid;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 15px;
    grid-template-columns: .5fr 1fr 0.5fr 1fr;
    gap: 10px 2px;
}

#time_output_div{
    display: grid;
    text-align: left;
    height: 100%;
    padding-top: 25px;
    padding-left: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.adj_time{
    padding: 1px;
    margin: 0px;
}


.daily_hour_log{
    height: 30px;
    width: 120px;
    border: 1px solid rgb(112, 111, 111);
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: 0px;
    margin-left: 50px;
    padding-left: 5px
}

.day_hour_display{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    gap: 2px;
    margin-bottom: 10px;
}

.week_1{
    grid-column: 1/2;
    
}

.week_2{
    grid-column: 2/3;
}

.time_date_input_box{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}

.box_label{
    align-items: center;
    padding-left: 10px;
    /*text-align: center;*/

}

.box_label.day_label{
    margin-top: auto;
    font-size: 16px;
}


#total_hours_p{
    min-width: 60px;
    grid-column: 4/5;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    text-align: center;
    background-color: white;
    align-self: end;
}

.button{
    margin: 5px;
	display:inline-block;
	cursor:pointer;
	
	padding:5px 10px;
	text-decoration:none;
    text-align: center;
    
    background:linear-gradient(to bottom, #4cc051c4 5%, #03923a 100%);
	background-color:#ededed;
    
    color:#ffffff;
    font-size:18px;
    border:1px solid #dcdcdc;
    border-radius:5px;
    box-shadow:inset 1px 1px 2px 0px #ffffff;
}

#add_time_period_div{
    width: 100%;
    grid-column: 1/7;
    grid-row: 3/4;
    display: grid;
    text-align: right;
    grid-template-columns: repeat(3, 1fr);
    
}
#add_time_period_btn{
    grid-column: 3/4;
    width: 130px;
    height: 35px;
    font-size: 14px;
}
#add_time_period_btn[disabled]{
    opacity: 75%;
    filter:brightness(80%)
    /*filter: blur(0px);*/
}

#add_manual_lunch_div{
    width: 100%;
    grid-column: 1/7;
    grid-row: 7/8;
    display: grid;
    text-align: right;
    grid-template-columns: repeat(3, 1fr);
}
#manual_lunch[disabled]{
    opacity: 75%;
    filter:brightness(80%)
    /*filter: blur(0px);*/
}
#manual_lunch_btn{
    grid-column: 3/4;
    width: 130px;
    height: 35px;
    font-size: 13px;
    background:linear-gradient(to bottom, #4e90f3c4 5%, #0e70e0 100%);
}
#manual_lunch.selected{
    background:linear-gradient(to bottom, #4f4b8dc4 5%, #121091 100%);
    box-shadow:inset 1px 1px 2px 0px #a0a0a0;
}

#shift_day_div{
    width: 100%;
    display: grid;
    grid-column: 1/7;
    grid-row: 8/9;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 30px;
    padding-bottom: 10px;
}
.button.shift_day{
    display: grid;
    width: 110px;
    height: 35px;
    font-size: 16px;
    background:linear-gradient(to bottom, #acacacc4 5%, #8d8d8d 100%);
}
#prev_day_btn{
    grid-column: 1/2;
}
#next_day_btn{
    grid-column: 3/4;
}


#calc_btn_div{
    grid-row: 10/11;
    grid-column: 4/6;
    text-align: center;
}

#calculate_btn{
    width: 160px;
    height: 35px;
    align-items: center;
}

#check_button{
    display: grid;
    height: 50px;
    width: 50px;
    grid-column: 4/5;
    grid-row: 2/3;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 10px; 
    border: 1px solid rgb(120, 187, 120);
    background:linear-gradient(to bottom, #edfaeec4 5%, #9cfda9 100%);
    border-radius: 10px;
    padding: 2px;
}